$light-grey: #f9f9f9;
$border-color: #eee;
@import 'sass/spectrum.scss';
@import 'sass/drag-handle.scss';
@import 'sass/category-styles.scss';



.points-component[data-editing="true"] .pointItem:not(.currently-editing), .categories-component[data-editing="true"] .categoryItem:not(.currently-editing) {
  pointer-events: none;
  opacity:.25;
}
